@{
    ViewData["Title"] = "Home";
}

<div class="row p-5 d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card text-center text-muted">
            <div class="card-body">
                <h1>Currency Application</h1>
                <hr />
                <h5>Click on the button below to solve this problem</h5>
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Currency" asp-action="Index">Currency</a>
            </div>
        </div>
    </div>
</div>
